{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": 1,
    "no-plusplus": 0,
    "arrow-body-style": 0,
    "space-before-blocks": 1,
    "eol-last" : "warn",
    "react/self-closing-comp" : 1,
    "react/prop-types" : 0,
    "import/prefer-default-export" :0,
    "semi": ["off"],
    "padded-blocks" : 1,
    "key-spacing" : 1,
    "object-curly-spacing": 1,
    "react/jsx-curly-spacing" : [ 
      "warn", 
      {
        "when" : "always"
      }
    
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}